html {
  /* font-size: clamp(40%, 1rem + 1vw, 62.5%);  */
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: roboto, sans-serif;
}

main {
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 152px;
  flex-wrap: wrap;
  position: relative;
}

#toggle-mode {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 2rem;
  border: 0;
  background: none;
  color: var(--text-color);

  &:active {
    transform: translatey(4px);
  }
}

section {
  display: grid;
  flex: 1;
}

#timer {
  display: grid;
  justify-content: end;
  gap: 48px;
  font-weight: bold;
  
  & .timer-numbers {
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  & .countdown-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--controls-bg-color);
    padding: 24px 40px;
    height: 88px;
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.05);

    & .bg-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--bg-color);
      transition: all 0.15s ease-in-out;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3):hover,
      &:nth-child(4):hover,
      &:nth-child(5):hover,
      &:nth-child(6):hover {
        background: #131313;
      }
    }
    
    & button {
      font-size: 3rem;
      background: none;
      border: 0;
      color: var(--text-color);
    }

    & .ph-play-circle,
    .ph-pause-circle,
    button:hover {
      color: var(--primary-color);
    }
  }
}

#sounds {
  display: grid;
  grid-template-columns: repeat(2, 152px);
  grid-template-rows: repeat(2, 152px);
  gap: 32px;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.10)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.09)) drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.05)) drop-shadow(0px 18px 7px rgba(0, 0, 0, 0.01)) drop-shadow(0px 29px 8px rgba(0, 0, 0, 0.00));

  & button {
    width: 152px;
    height: 152px;
    background: var(--controls-bg-color);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    color: var(--button-secondary);

    &:hover {
      background: var(--primary-color);
      color: #131313;
    }

    &:active {
      transform: translatey(4px);
    }
  }
}

button {
  cursor: pointer;
  font-size: 3.5rem;
  display: inline-block;
  transition: all 0.15s ease-in-out;
}

.running #play,
html:not(.running) #pause,
.running #set,
html:not(.running) #stop,
.dark-theme .ph-moon,
html:not(.dark-theme) .ph-sun {
  display: none !important;
}

.dark-theme #sounds {
  filter: drop-shadow(0px 0px 0px);
}

.active {
  background: var(--primary-color) !important;
  color: #131313 !important;
}

/* ----------------- */

@media (prefers-reduced-motion) {
  button {
    transition: none;
  }
}